<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Carrot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,106}</string>
                <key>spriteSourceSize</key>
                <string>{75,106}</string>
                <key>textureRect</key>
                <string>{{1,261},{75,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Carrot_1_shake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,103}</string>
                <key>spriteSourceSize</key>
                <string>{83,103}</string>
                <key>textureRect</key>
                <string>{{1,728},{83,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Carrot_1_shake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{89,105}</string>
                <key>textureRect</key>
                <string>{{1,813},{89,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Carrot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,106}</string>
                <key>spriteSourceSize</key>
                <string>{75,106}</string>
                <key>textureRect</key>
                <string>{{1,338},{75,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Carrot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,106}</string>
                <key>spriteSourceSize</key>
                <string>{76,106}</string>
                <key>textureRect</key>
                <string>{{1,493},{76,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Carrot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,106}</string>
                <key>spriteSourceSize</key>
                <string>{76,106}</string>
                <key>textureRect</key>
                <string>{{1,571},{76,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Carrot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,106}</string>
                <key>spriteSourceSize</key>
                <string>{77,106}</string>
                <key>textureRect</key>
                <string>{{1,649},{77,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Carrot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,75}</string>
                <key>spriteSourceSize</key>
                <string>{66,75}</string>
                <key>textureRect</key>
                <string>{{1,48},{66,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Carrot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,66}</string>
                <key>spriteSourceSize</key>
                <string>{79,66}</string>
                <key>textureRect</key>
                <string>{{1,116},{79,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carrot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,45}</string>
                <key>spriteSourceSize</key>
                <string>{74,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Items01-hd-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,75}</string>
                <key>spriteSourceSize</key>
                <string>{106,75}</string>
                <key>textureRect</key>
                <string>{{1,184},{106,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Items01-hd-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,76}</string>
                <key>textureRect</key>
                <string>{{1,415},{106,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Carrot.png</string>
            <key>size</key>
            <string>{108,903}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c95b7fa4cd05705007264e741244c32:b586a5f46d64f48d59a6a42c26bb4973:899dcad8a7312e80eb0488f8eb762d55$</string>
            <key>textureFileName</key>
            <string>Carrot.png</string>
        </dict>
    </dict>
</plist>
